/* My Styles */

body {
    background: #131418;
    padding: 50px;
    margin: 0 auto;
    max-width: 100%;
  }

  h1 {
    font-size: 5em;
    color: white;
    text-align: center;
  }

  .gallery {
    display: grid;
    grid-gap: 0.75rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 250px 150px;
    margin-bottom: 30px;
  }
  
  .gallery figure, 
  .gallery img {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  .gallery img {
    display: block;
       object-fit: cover;
  }

  .gallery img {
    filter: grayscale(100%);
  }
  
  .gallery figure {
    position: relative;
  } 
  
  .gallery figcaption {
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    background: rgba(255, 255, 255);
    position: absolute;
    bottom: 0; 
    left: 0;
    display: none;
    z-index: 1;
    padding: 20px;
  }

  figure:hover img {
    filter: grayscale(0%);
    transition: filter 300ms linear;
  }

  figure:hover figcaption {
display: block;
  }
    
    .gallery :first-child {
      grid-area: 1/1/span 2/2 span;
    }
    .gallery :nth-child(2n) {
      grid-column: span 1;
    }
    .gallery :nth-child(3n) {
        grid-column: span 1;
      }
      .gallery :nth-child(4n) {
        grid-column: span 2;
      }
      .gallery :nth-child(8n) {
        grid-column: 1 span;
        grid-row: 1 span;
      }

      .gallery :nth-child(9n) {
        grid-column: 1 span;
        grid-row: 1 span;
      }

      .gallery :nth-child(10n) {
        grid-column: 1 span;
        grid-row: 1 span;
      }

      .gallery :nth-child(11n) {
        grid-column: 2 span;
        grid-row: 2 span;
      }

      .gallery :nth-child(12n) {
        grid-column: 1 span;
        grid-row: 1 span;
      }

      .gallery :nth-child(14n) {
        grid-column: 2 span;
        grid-row: 1 span;
      }

      .gallery :nth-child(15n) {
        grid-column: 1 span;
        grid-row: 1 span;
      }

      .gallery :nth-child(17n) {
        grid-column: 2 span;
        grid-row: 2 span;
      }

      .gallery :nth-child(18n) {
        grid-column: 1 span;
        grid-row: 2 span;
      }